<% now = Time.zone.now %>

<div class="container">
    <div class="col-md-12 margin-top-5per article-block">
        <h1 style: 'margin-bottom: 10px'>イベント作成</h1>
        <div class="padding-bottm-15"></div>
            <%= render 'form', article: @article %>
        </div>
    </div>
</div>

